<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8"/>
    <title>Rugby</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Gestion des équipes du club AGL</h1>
<h2>Page en cours de construction</h2>
<br/>


<a th:href="@{/listJoueurs}">Liste des joueurs</a>
<br/>
<a th:href="@{/addJoueur}">Ajout d'un joueur (entraîneur seulement) </a>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>
