<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Liste des Joueurs</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Liste des joueurs</h1>

<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Score</th>
        </tr>
        <tr th:each ="joueur : ${joueurs}">
            <td th:utext="${joueur.nom}">...</td>
            <td th:utext="${joueur.score}">...</td>

        </tr>
    </table>
</div>
</body>
</html>